/*
	Theme Name: Saqus
	Author: Anonymous
	Author URI:
	Version: 1
	Description: Base theme for Wordpress
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Text Domain: base
	Tags: one-column, two-columns
	Theme URI:
*/
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('fonts/proximanova-regular-webfont.eot');
	src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova-regular-webfont.woff2') format('woff2'),  url('fonts/proximanova-regular-webfont.woff') format('woff'),  url('fonts/proximanova-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latobold';
	src: url('fonts/lato-bold-webfont.eot');
	src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-bold-webfont.woff2') format('woff2'), url('fonts/lato-bold-webfont.woff') format('woff'), url('fonts/lato-bold-webfont.ttf') format('truetype'), url('fonts/lato-bold-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latolight';
	src: url('fonts/lato-light-webfont.eot');
	src: url('fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-light-webfont.woff2') format('woff2'), url('fonts/lato-light-webfont.woff') format('woff'), url('fonts/lato-light-webfont.ttf') format('truetype'), url('fonts/lato-light-webfont.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoregular';
	src: url('fonts/lato-regular-webfont.eot');
	src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-regular-webfont.woff2') format('woff2'), url('fonts/lato-regular-webfont.woff') format('woff'), url('fonts/lato-regular-webfont.ttf') format('truetype'), url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'galanogrotesque-buploadedfile';
	src: url('fonts/galano_grotesque_bold-webfont.eot');
	src: url('fonts/galano_grotesque_bold-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/galano_grotesque_bold-webfont.woff2') format('woff2'),  url('fonts/galano_grotesque_bold-webfont.woff') format('woff'),  url('fonts/galano_grotesque_bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'galanogrotesquedeuploadedfile';
	src: url('fonts/galano_grotesque_demo_bold-webfont.eot');
	src: url('fonts/galano_grotesque_demo_bold-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/galano_grotesque_demo_bold-webfont.woff2') format('woff2'),  url('fonts/galano_grotesque_demo_bold-webfont.woff') format('woff'),  url('fonts/galano_grotesque_demo_bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'galanogrotesque-muploadedfile';
	src: url('fonts/galano_grotesque_medium-webfont.eot');
	src: url('fonts/galano_grotesque_medium-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/galano_grotesque_medium-webfont.woff2') format('woff2'),  url('fonts/galano_grotesque_medium-webfont.woff') format('woff'),  url('fonts/galano_grotesque_medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'galanogrotesque-ruploadedfile';
	src: url('fonts/galano_grotesque-webfont.eot');
	src: url('fonts/galano_grotesque-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/galano_grotesque-webfont.woff2') format('woff2'),  url('fonts/galano_grotesque-webfont.woff') format('woff'),  url('fonts/galano_grotesque-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	max-height: 1000000px;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset { margin: 0 0 14px; }
html, body, div, span, applet, embed, object, iframe, frameset, p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center, h1, h2, h3, h4, h5, h6, b, strong, big, u, ins, i, cite, em, var, dfn, address, s, strike, del, dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt, fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	border: 0;
	background: none;
}
html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
}
body {
	color: #5e5e5e;
	font: 18px/26px 'latoregular', Arial, Helvetica, sans-serif;
	min-width: 320px;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	margin: 0;
}
img {
	border-style: none;
	max-width: 100%;
	height: auto;
	display: block;
}
a {
	text-decoration: none !important;
	color: #000;
	outline: none !important;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
a:hover {
	text-decoration: none;
	color: #aad038;
}
a:active { background-color: transparent; }
input, textarea, select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
button::-moz-focus-inner {
 padding: 0;
 border: 0;
}
input[type=text], input[type=search], input[type=email], input[type=password], input[type=file], input[type=submit], textarea, input[type=tel] {
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}
input[type="search"]::-webkit-search-cancel-button {

 -webkit-appearance: none;
 display: none;
 border-radius: 0;
 -webkit-border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
-webkit-appearance: none;
}
input[type=search] {
	-webkit-appearance: none;
	-webkit-box-sizing: content-box;
	border-radius: 0;
	-webkit-border-radius: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }
* { max-height: 1000000px; }
h1, h2, h3, h4, h5, h6, b, strong, th { font-weight: bold; }
h1 {
	font: 45px/50px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
h2 {
	text-transform: capitalize;
	font: 40px/45px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
}
h3 {
	text-transform: capitalize;
	font: 35px/40px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
}
h4 {
	text-transform: capitalize;
	font: 30px/35px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
}
h5 {
	text-transform: capitalize;
	font: 25px/30px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
}
h6 {
	text-transform: capitalize;
	font: 20px/25px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
}
i, cite, em, var, dfn, address { font-style: italic; }
u, ins { text-decoration: underline; }
s, strike, del { text-decoration: line-through; }
blockquote, blockquote:before, blockquote:after, q, q:before, q:after { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote {
	font-size: 14px;
	font-style: normal;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
table, caption, tbody, tfoot, thead, tr, th, td {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	border: 1px solid #ccc;
	padding: 3px 7px;
	text-align: left;
	vertical-align: top;
}
th {
	border-color: #999;
	text-align: center;
	vertical-align: middle;
}
ul { margin-left: 1px; }
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul ul, ul ol, ol ul, ol ol {
	padding: 0;
	margin: 0;
}
ul>li { list-style-type: none; }
dl dt {
	float: left;
	clear: left;
	padding-right: 4px;
	font-weight: bold;
}
input[type="text"], input[type="search"], input[type="tel"], input[type="email"], textarea, input[type="number"], input[type="password"], input[type="url"] {
	background: #fff;
	width: 100%;
	height: 50px;
	outline: none;
	padding: 0 15px;
	margin: 0 0 14px;
	display: block;
	border-width: 1px 1px 1px 3px;
	border-style: solid;
	border-color: #9d9d9d #9d9d9d #9d9d9d #161b53;
	color: #222;
	font: 16px/22px 'latoregular', Arial, Helvetica, sans-serif;
}
textarea {
	resize: none;
	padding: 12px 15px;
	height: 129px;
	overflow-y: auto;
}
input[type="submit"], button[type="submit"] {
	background: #161b53;
	width: 193px;
	height: 51px;
	border: 0;
	font: 17px/50px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	text-align: center;
	display: block;
	padding: 0 10px;
	outline: none;
	cursor: pointer;
	transition: background 0.5s ease 0s;
	-webkit-transition: background 0.5s ease 0s;
	overflow: hidden;
	color: #fff;
	border-radius: 50px;
	text-transform: capitalize;
}
input[type="submit"]:hover, button[type="submit"]:hover { background: #aad038; }
pre {
	max-width: 100%;
	overflow: auto;
}
.widget {
	margin-bottom: 14px;
	overflow: hidden;
}
.widget ul { padding-left: 2em; }
.widget select { min-width: 150px; }
.post-password-form label { vertical-align: top; }
.commentlist { margin: 0 0 14px; }
.commentlist .edit-link { margin: 0; }
.commentlist-item .commentlist-item { padding: 0 0 0 3em; }

@media only screen and (max-width: 767px) {
.commentlist-item .commentlist-item { padding: 0; }
}
.comment, .commentlist-holder { overflow: hidden; }
.commentlist-item .commentlist-item, .commentlist-item + .commentlist-item { padding-top: 14px; }
.commentlist .avatar-holder {
	float: left;
	margin: 0 14px 4px 0;
}
.comment-form label {
	display: block;
	padding-bottom: 4px;
}
.comment-form textarea {
	padding: 3px 4px;
	overflow: auto;
	margin: 0;
	height: 120px;
	min-height: 120px;
}
.widget_calendar #next { text-align: right; }
.gallery-item dt {
	float: none;
	padding: 0;
}
.navigation {
	overflow: hidden;
	margin: 0 0 14px;
}
.navigation .next { float: left; }
.navigation .prev { float: right; }
.wp-caption {
	max-width: 98%;
	clear: both;
	border: 1px solid #ccc;
	padding: 5px;
}
.wp-caption img { vertical-align: top; }
.wp-caption p { margin: 10px 0 0; }
div.aligncenter { margin: 0 auto 14px; }
img.aligncenter {
	display: block;
	margin: 0 auto;
}
.alignleft {
	float: left;
	margin: 0 2.2% 0 0;
}
.alignright {
	float: right;
	margin: 0 0 0 2.3%;
}
::-webkit-input-placeholder { color: #838383; }
:-moz-placeholder { color: #838383; }
::-moz-placeholder {
	color: #838383;
	opacity: 1;
}
:-ms-input-placeholder { color: #838383; }
.form-block ::-webkit-input-placeholder { color: #909090; }
.form-block :-moz-placeholder { color: #909090; }
.form-block ::-moz-placeholder {
	color: #909090;
	opacity: 1;
}
.form-block :-ms-input-placeholder { color: #909090; }
#wrapper {
	overflow: hidden;
	width: 100%;
}
.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}
#header {
	position: relative;
	z-index: 999;
}
.header-top {
	background: #191d4b;
	padding: 6px 0 7px;
	color: #aad038;
	font: 16px/20px 'galanogrotesque-muploadedfile', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
.header-top a { color: #aad038; }
.header-top a:hover { color: #fff; }
.header-top .left-block {
	float: left;
	margin: 7px 0 0;
	width: 60%;
}
.header-top .left-block .tel {
	float: left;
	padding: 0 18px 0 7px;
	margin: 0 14px 0 0;
	border-right: 1px solid #aad038;
	width: 211px;
}
.header-top .left-block .tel i {
	font-size: 18px;
	padding: 0 5px 0 0;
}
.header-top .social-networks {
	width: 120px;
	float: left;
	font-size: 18px;
}
.header-top .social-networks li {
	float: left;
	margin: 0 14px 0 0;
}
.header-top .consultation {
	font-family: 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	border: 2px solid #aad038;
	line-height: 31px;
	padding: 0 22px;
	overflow: hidden;
	float: right;
	border-radius: 50px;
}
.header-top .consultation:hover { border-color: #fff; }
#header:after, #nav:after, #nav ul:after, .container:after {
	display: block;
	clear: both;
	content: '';
}
.header-bottom { padding: 9px 0 19px; }
#header .logo {
	width: 232px;
	float: left;
}
.info-block {
	float: right;
	max-width: 980px;
	margin: 24px 0 0;
	text-align: right;
}
.opener { display: none; }
.js-slide-hidden {
	display: block !important;
	left: -9999px !important;
	position: static !important;
	top: -9999px !important;
}
#nav {
	font: 16px/20px 'galanogrotesque-ruploadedfile', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	display: inline-block;
	vertical-align: middle;
	margin: 10px 10px 0 0;
}
#nav ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 5px;
}
#nav ul li a {
	padding: 6px 21px 8px;
	display: block;
	border-radius: 50px;
}
#nav ul li.active a, #nav ul li a:hover {
	background: #aad038;
	color: #000;
}
.search-form {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.search-form a {
	background: #121b51;
	width: 44px;
	height: 44px;
	border-radius: 100%;
	text-align: center;
	color: #aad038;
	font-size: 20px;
	line-height: 44px;
	display: block;
}
.search-form a:hover, .search-form.active a {
	background: #aad038;
	color: #121b51;
}
.search-form .form-slide {
	position: absolute;
	top: 74px;
	right: 0;
	border: 1px solid #fff;
	width: 260px;
	background: #aad038;
	display: none;
	padding: 15px;
	border-radius: 5px;
}
.search-form .form-slide input[type="search"] { width: 86%; }
.search-form .form-slide input[type="submit"] {
	width: 120px;
	height: 40px;
	line-height: 40px;
}
.search-form .form-slide input[type="submit"]:hover {
	background: #161b53;
	color: #aad038;
}
#main { overflow: hidden; }
.banner {
	overflow: hidden;
	position: relative;
}
.banner img { opacity: 0.55; }
.banner:before {
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
}
.banner .caption-holder {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.banner .caption-holder .container {
	width: 100%;
	height: 100%;
	display: table;
}
.banner .caption-holder .caption-block {
	display: table-cell;
	vertical-align: middle;
}
.banner .caption-block .caption {
	max-width: 710px;
	margin: 0 auto;
	overflow: hidden;
	color: #fff;
	text-align: center;
}
.banner .caption-block h1 {
	font-size: 54px;
	line-height: 62px;
	margin: 0 0 20px;
	text-transform: none;
}
.banner .caption-block h1 img {
	display: inline-block;
	vertical-align: middle;
	opacity: 1;
}
.banner .caption-block h1 span {
	display: inline-block;
	vertical-align: middle;
}
.caption-block .caption ul {
	font: 23px/45px 'galanogrotesque-ruploadedfile', Arial, Helvetica, sans-serif;
	margin: 0 auto 25px;
	max-width: 570px;
	text-align: left;
}
.caption-block .caption ul li {
	padding: 0 0 0 30px;
	position: relative;
}
.caption-block .caption ul li:before {
	background: url(images/bullet01.png) no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	top: 12px;
	content: '';
}
.caption-block .caption a {
	background: #aad038;
	color:  #fff;
	padding: 0 50px;
	height: 51px;
	font: 17px/51px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	overflow: hidden;
	display: inline-block;
	text-transform: capitalize;
	border-radius: 50px;
}
.caption-block .caption a:hover { background: #191d4b; }
.services-block { padding: 58px 0 45px; }
.services-block h2 {
	color: #1c1f4e;
	font-size: 43px;
	line-height: 50px;
	text-align: center;
	margin: 0 0 45px;
}
.services-block ul { margin: 0 0 0 -1.3%; }
.services-block ul li {
	background: #f2f2f2;
	margin: 0 0 19px 1.3%;
	display: inline-block;
	vertical-align: top;
	padding: 30px 30px 34px 39px;
	width: 48.5%;
}
.services-block ul li .img-block {
	display: inline-block;
	vertical-align: middle;
	width: 114px;
	height: 114px;
	background: #191d4b;
	border-radius: 100%;
	overflow: hidden;
}
.services-block .img-block .image {
	width: 100%;
	height: 100%;
	display: table;
}
.services-block .img-block .image span {
	display: table-cell;
	vertical-align: middle;
}
.services-block .img-block .image img { margin: 0 auto; }
.services-block .text-block {
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	margin: 0 0 0 7%;
	color: #5f5f5f;
	font: 17px/22px 'proxima_nova_rgregular', Arial, Helvetica, sans-serif;
}
.services-block .text-block p { margin: 0; }
.services-block .text-block .title {
	display: block;
	color: #181c4b;
	margin: 0 0 10px;
	font: 22px/28px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
.services-block .text-block .title a { color: #181c4b; }
.services-block .text-block .title a:hover { color: #b9d458; }
.about-block {
	background: #191d4b;
	padding: 66px 0 75px;
}
.about-block h2 {
	color: #fff;
	font-size: 43px;
	line-height: 50px;
	text-align: center;
	margin: 0 0 80px;
}
.about-block .tabset, .work-block .tabset {
	max-width: 930px;
	margin: 0 auto 37px;
	text-transform: uppercase;
	font: 17px/22px 'galanogrotesque-ruploadedfile', Arial, Helvetica, sans-serif;
	overflow: hidden;
	display: table;
	width: 100%;
}
.about-block .tabset li, .work-block .tabset li {
	display: table-cell;
	vertical-align: top;
	padding: 0 0 13px 30px;
	border-bottom: 2px solid #bdbdbd;
}
.about-block .tabset li:first-child, .work-block .tabset li:first-child { padding: 0; }
.about-block .tabset li a, .work-block .tabset li a {
	display: block;
	padding: 0 0 15px;
	margin: 0 0 -15px;
	border-bottom: 2px solid transparent;
	color: #fff;
}
.work-block .tabset li a { color: #434343; }
.about-block .tabset li.active a, .about-block .tabset li.active a:hover, .work-block .tabset li.active a, .work-block .tabset li.active a:hover {
	border-color: #abcf3a;
	color: #abcf3a;
	font-family: 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
}
.about-block .tabset li a:hover{
	border-color: #abcf3a;
	color: #abcf3a;
}
.work-block .tabset li.active a, .work-block .tabset li a:hover, .work-block .tabset li.active a:hover {
	border-color: #434343;
	color: #434343;
}
.accordion, .film_roll_shuttle, .film_roll_wrapper { overflow: hidden !important; }
.accordion .film_roll_shuttle { margin: 0 0 0 -240px !important; }
.accordion .film_roll_wrapper { min-height: inherit !important; }
.film_roll_shuttle .slide {
	margin: 0 80px;
	vertical-align: top;
}
.accordion .film_roll_prev, .accordion .film_roll_next {
	background: none;
	border: 0;
	opacity: 1;
	font-size: 30px;
	line-height: 35px;
	left: 15%;
	top: 40%;
}
.accordion .film_roll_next {
	right: 15%;
	left: auto;
}
.accordion .film_roll_prev:hover, .accordion .film_roll_next:hover { color: #aad038; }
.film_roll_shuttle .slide .info-text {
	text-align: center;
	overflow: hidden;
	margin: 30px 0 0;
	display: none;
}
.film_roll_shuttle .slide.active .info-text { display: block; }
.film_roll_shuttle .info-text .column {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 20%;
	margin: 0 2% 10px;
	color: #fff;
}
.info-text .column .title {
	display: block;
	text-transform: uppercase;
	font: 18px/22px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	margin: 0 0 3px;
}
.info-text .column .text {
	display: block;
	text-transform: capitalize;
	font: 17px/22px 'latolight', Arial, Helvetica, sans-serif;
}
.accordion .more {
	background: #aad038;
	color:  #fff;
	padding: 0 10px;
	width: 151px;
	height: 51px;
	font: 17px/51px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	overflow: hidden;
	display: block;
	margin: 55px auto 0;
	border-radius: 50px;
	text-transform: capitalize;
	text-align: center;
}
.accordion .more:hover {
	background: #fff;
	color: #aad038;
}
.js-tab-hidden { position: absolute !important; }
.accordion-slide {
	position: static !important;
	width: 100% !important;
}
.tab-content .accordion-opener { display: none !important; }
.about-us-block {
	background: #f2f2f2;
	padding: 55px 0 65px;
	text-align: center;
}
.about-us-block h2 {
	color: #1c1f4e;
	font-size: 43px;
	line-height: 50px;
	margin: 0 0 55px;
}
.about-us-block .img-holder { margin: 0 0 50px; }
.about-us-block .img-holder img {
	margin: 0 auto;
	max-width: 50%;
}
.about-us-block .four-columns { margin: 0 0 50px -1.5%; }
.about-us-block .four-columns .column {
	display: inline-block;
	vertical-align: top;
	width: 18.2%;
	margin: 0 0 15px 1.5%;
	background: #fff;
	box-shadow: 0 0 29px rgba(0, 0, 0, 0.10);
	padding: 20px 15px 80px;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	color: #666;
}
.four-columns .column .img-block {
	width: 170px;
	height: 170px;
	border-radius: 100%;
	margin: 0 auto 26px;
	overflow: hidden;
	background: #000;
}
.four-columns .column h3 {
	color: #191d4b;
	font-size: 19px;
	line-height: 23px;
	text-transform: capitalize;
	margin: 0 0 10px;
}
.four-columns .column h3 a { color: #191d4b; }
.four-columns .column h3 a:hover { color: #aad038; }
.four-columns .column .info {
	color: #aad038;
	display: block;
	text-transform: capitalize;
	font: 16px/20px 'latobold', Arial, Helvetica, sans-serif;
	margin: 0 0 15px;
}
.about-us-block .more {
	background: #282c57;
	color:  #fff;
	padding: 0 10px;
	width: 118px;
	height: 39px;
	font: 15px/39px 'latobold', Arial, Helvetica, sans-serif;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	border-radius: 50px;
	text-transform: capitalize;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 39px;
}
.about-us-block .more:hover { background: #aad038; }
.about-us-block .view-more {
	background: #aad038;
	color:  #fff;
	padding: 0 10px;
	width: 151px;
	height: 51px;
	font: 17px/51px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	border-radius: 50px;
	text-transform: capitalize;
	text-align: center;
}
.about-us-block .view-more:hover { background: #282c57; }
.product-block {
	padding: 55px 0 0;
	position: relative;
}
.product-block .img-products {
	position: absolute;
	right: 0;
	bottom: 0;
}
.product-block .holder {
	max-width: 670px;
	padding: 0 0 96px;
	position: relative;
	z-index: 99;
}
.product-block .holder h2 {
	color: #191d4b;
	font-size: 43px;
	line-height: 48px;
	margin: 0 0 34px;
}
.product-block .holder ul { margin: 0 0 50px; }
.product-block .holder ul li {
	margin: 0 0 27px;
	overflow: hidden;
}
.product-block ul li .img-block {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	margin: 0 15px 0 0;
}
.product-block ul li .img-block img { margin: 0 auto; }
.product-block ul li .text-block {
	display: inline-block;
	vertical-align: middle;
	width: 86%;
	color: #272727;
	font-size: 19px;
	line-height: 27px;
	position: relative;
}
.product-block ul li .text-block p { margin: 0; }
.product-block .holder .link {
	background: #17192d;
	color: #fff;
	padding: 0 30px;
	height: 51px;
	font: 17px/51px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	overflow: hidden;
	display: inline-block;
	border-radius: 50px;
	text-transform: capitalize;
	text-align: center;
}
.product-block .holder .link:hover { background: #aad038; }
.about-holder {
	padding: 62px 0 218px;
	overflow: hidden;
}
.about-holder h2, .team-block h2 {
	color: #191d4b;
	font-size: 43px;
	line-height: 48px;
	text-align: center;
	margin: 0 0 45px;
}
.team-block h2 { margin: 0 0 78px; }
.about-holder img {
	margin: 0 auto 40px;
	max-width: 50%;
}
.about-holder .two-columns { padding: 0 70px; }
.about-holder .two-columns .column {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin: 0 0 15px 4%;
	text-align: justify;
	line-height: 27px;
}
.team-block {
	background: #f2f2f2;
	padding: 1px 0;
}
.team-block .top-img { margin: -180px auto 45px; }
.team-block .team {
	overflow: hidden;
	margin: 0 7px 42px;
}
.team-block .team .img-block {
	float: left;
	border-radius: 10px;
	overflow: hidden;
	width: 274px;
	height: 267px;
	margin: 5px 0 0;
}
.team-block .team .text-block {
	float: left;
	width: 70%;
	margin: 0 0 0 7%;
	font-size: 17px;
}
.team-block .team .text-block p { margin: 0 0 30px; }
.team-block .text-block .heading-section {
	overflow: hidden;
	margin: 0 14px 35px 0;
}
.team-block .heading-section .left-col {
	float: left;
	width: 70%;
}
.heading-section .left-col h3 {
	color: #191d4b;
	font-size: 36px;
	line-height: 40px;
	margin: 0 0 14px;
}
.heading-section .left-col .info {
	display: block;
	padding: 0 0 28px;
	color: #aad038;
	font: 20px/25px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	position: relative;
}
.heading-section .left-col .info:after {
	background: #191d4b;
	width: 75px;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
}
.team-block .heading-section .social {
	float: right;
	width: 30%;
	text-align: right;
	font-size: 23px;
	margin: 15px 0 0;
}
.heading-section .social li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 5px 13px;
}
.heading-section .social li a { color: #aad038; }
.heading-section .social li a:hover { color: #191d4b; }
.contact-block {
	overflow: hidden;
	padding: 45px 0 58px;
}
.contact-block .two-blocks {
	overflow: hidden;
	margin: 0 0 0 -4.2%;
}
.two-blocks .block {
	display: inline-block;
	vertical-align: top;
	width: 45.5%;
	margin: 0 0 20px 4.2%;
}
.two-blocks .block h2 {
	color: #222;
	font-size: 35px;
	line-height: 40px;
	margin: 0 0 8px;
	text-transform: none;
}
.two-blocks .block .info-text {
	display: block;
	color: #939393;
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 31px;
}
.two-blocks .block form .fields-holder { margin: 0 0 0 -2%; }
.two-blocks .fields-holder .fields {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 2%;
	width: 47.7%;
}
.two-blocks .block form .field { position: relative; }
.two-blocks .block form .field:before {
	font-family: 'FontAwesome';
	position: absolute;
	left: 18px;
	top: 15px;
	font-size: 20px;
	line-height: 20px;
	content: '';
	color: #303030;
}
.two-blocks .block form .field.name:before { content: '\f2be'; }
.two-blocks .block form .field.last:before { content: '\f0c0'; }
.two-blocks .block form .field.email:before { content: '\f003'; }
.two-blocks .block form .field.company:before { content: '\f0f7'; }
.two-blocks .block form .field.phone:before { content: '\f095'; }
.two-blocks .block form .field.textarea:before { content: '\f0e5'; }
.two-blocks .block form input { padding: 0 15px 0 50px; }
.two-blocks .block form textarea { padding: 12px 15px 12px 50px; }
.two-blocks .block form input[type="submit"] { padding: 0 10px; }
.two-blocks .block .accordion { margin: 0 0 5px; }
.two-blocks .block .accordion li { padding: 0 0 16px; }
.two-blocks .block .accordion li a {
	background: #f9f7f8;
	display: block;
	padding: 20px 50px 20px 25px;
	color: #353535;
	font: 20px/25px 'latobold', Arial, Helvetica, sans-serif;
	position: relative;
	border: 1px solid #ddd;
	border-radius: 1px;
}
.two-blocks .block .accordion li a:hover, .two-blocks .block .accordion li.active a {
	color: #fff;
	background: #9dc22f;
}
.two-blocks .block .accordion li a:after {
	font-family: 'FontAwesome';
	content: '\f067';
	font-size: 20px;
	line-height: 25px;
	color: #353535;
	position: absolute;
	right: 15px;
	top: 50%;
	margin: -10px 0 0;
}
.two-blocks .block .accordion li.active a:after {
	content: '\f068';
	color: #fff;
}
.two-blocks .block .accordion li a:hover:after { color: #fff; }
.two-blocks .block .accordion-slide1 {
	display: none;
	padding: 14px 25px 17px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #fff #ddd #ddd;
	border-radius: 0 0 1px 1px;
}
.two-blocks .block .accordion-slide1 p { margin: 0; }
.two-blocks .block .more {
	background: #161b53;
	border: 0 none;
	border-radius: 50px;
	color: #fff;
	display: block;
	font: 17px/50px "galanogrotesque-buploadedfile",Arial,Helvetica,sans-serif;
	height: 51px;
	outline: medium none;
	overflow: hidden;
	padding: 0 10px;
	text-align: center;
	text-transform: capitalize;
	transition: background 0.5s ease 0s;
	width: 193px;
}
.two-blocks .block .more:hover { background: #aad038; }
.map-holder { overflow: hidden; }
.map-holder iframe {
	width: 100%;
	margin: 0;
	display: block;
}
.work-block {
	padding: 55px 0;
	text-align: center;
}
.work-block h2 {
	font-size: 43px;
	line-height: 48px;
	color: #1c1f4e;
	margin: 0 0 45px;
}
.grid-item {
	width: 24.3%;
	float: left;
	margin: 0 0 10px;
	overflow: hidden;
}
.grid-item.grid-item-width2 { width: 49.4%; }
.grid-item .masonry-caption {
	background: url(images/bg-caption.png) no-repeat 50% 50%;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	transition: opacity 0.5s ease 0s;
	opacity: 0;
}
.grid-item:hover .masonry-caption {
	transition: opacity 0.5s ease 0s;
	opacity: 1;
}
.grid-item .masonry-caption .caption-text {
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}
.masonry-caption .caption-text .caption {
	display: table-cell;
	vertical-align: middle;
}
.masonry-caption .caption-text .content {
	max-width: 220px;
	margin: 0 auto;
	display: block;
}
.masonry-caption .content img {
	display: inline-block;
	vertical-align: middle;
	max-width: 45px;
}
.masonry-caption .content .text {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	color: #fff;
	font: 18px/25px "galanogrotesque-buploadedfile",Arial,Helvetica,sans-serif;
	margin: 0 0 0 10px;
}
.work-detail-block { padding: 75px 0; }
.work-detail-block h2 {
	color: #010101;
	font-size: 30px;
	line-height: 35px;
	text-transform: none;
	margin: 0 0 46px;
	text-align: center;
}
.project-detail {
	border: 1px solid #c1c1c1;
	border-radius: 1px;
	margin: 0 26px 30px 21px;
	padding: 24px 15px 46px 42px;
	overflow: hidden;
	text-align: left;
}
.project-detail .img-block {
	float: left;
	width: 47.4%;
	margin: 10px 4.4% 0 0;
}
.project-detail .text-block {
	float: left;
	width: 48%;
	font-size: 16px;
}
.project-detail .text-block h3 {
	color: #181c4b;
	font-size: 20px;
	line-height: 25px;
	margin: 0 0 17px;
}
.project-detail .text-block p { margin: 0 0 20px; }
.project-detail .text-block ul {
	margin: 0 0 21px 7px;
	line-height: 23px;
}
.project-detail .text-block ul li {
	padding: 0 0 14px 15px;
	position: relative;
}
.project-detail .text-block ul li:before {
	background: #5e5e5e;
	width: 7px;
	height: 7px;
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: 10px;
	content: '';
}
.project-detail .text-block .two-cols { overflow: hidden; }
.project-detail .two-cols .col {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin: 0 10px 10px 0;
}
.project-detail .two-cols .col .title {
	display: block;
	color: #181c4b;
	font: 20px/25px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	margin: 0 0 3px;
}
.project-detail .two-cols .col .text {
	display: block;
	text-transform: capitalize;
}
.btn-back {
	background: #aad038;
	color: #fff;
	padding: 0 10px;
	width: 266px;
	height: 51px;
	margin: 40px auto 0;
	font: 17px/51px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	overflow: hidden;
	display: block;
	border-radius: 50px;
	text-align: center;
}
.btn-back:hover { background: #17192d; }
#footer { overflow: hidden; }
.footer-top {
	background: #aad038;
	overflow: hidden;
}
.footer-top .label-block {
	float: left;
	background: #799429;
	position: relative;
	padding: 17px 20px 17px 100%;
	margin: 0 0 0 -100%;
}
.footer-top .label-block:after {
	left: 100%;
	top: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(121, 148, 41, 0);
	border-left-color: #799429;
	border-width: 44px;
	margin-top: 0;
}
.footer-top .label-block label {
	font: 28px/32px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	color: #fff;
	text-transform: capitalize;
}
.footer-top .label-block label i {
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	width: 53px;
	height: 53px;
	border-radius: 100%;
	color: #17192d;
	font-size: 25px;
	line-height: 53px;
	margin: 0 20px 0 0;
	text-align: center;
}
.footer-top .label-block label span {
	display: inline-block;
	vertical-align: middle;
}
.footer-top .form-block {
	float: left;
	padding: 20px 6px 25px 65px;
	overflow: hidden;
	width: 65%;
}
.footer-top .form-block .field {
	background: #fff;
	border-radius: 3px;
	position: relative;
	padding: 0 0 0 40px;
	height: 41px;
	float: left;
	width: 80%;
}
.footer-top .form-block .field:before {
	font-family: 'FontAwesome';
	content: "\f0e0";
	position: absolute;
	left: 19px;
	top: 12px;
	font-size: 14px;
	line-height: 17px;
	color: #757575;
}
.footer-top .field input[type="email"] {
	width: 100%;
	height: 41px;
	margin: 0;
	border: 0;
	padding: 0 10px;
	color: #909090;
	border-radius: 3px;
}
.footer-top .form-block input[type="submit"] {
	width: 141px;
	height: 41px;
	border-radius: 3px;
	float: right;
	line-height: 41px;
}
.footer-top .form-block input[type="submit"]:hover {
	background: #191d4b;
	color: #aad038;
}
.footer-middle {
	background: #21221e;
	padding: 54px 0 35px 15px;
	color: #fff;
}
#footer .logo {
	width: 210px;
	margin: 0 0 12px;
}
.footer-middle .column {
	display: inline-block;
	vertical-align: top;
	width: 34%;
	font-size: 17px;
	line-height: 26px;
	margin: 0 4.5% 15px 0;
}
.footer-middle .column p { margin: 0 0 22px; }
.footer-middle .column .more {
	background: #aad038;
	color: #fff;
	padding: 0 37px;
	height: 39px;
	font: 17px/39px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	overflow: hidden;
	display: inline-block;
	border-radius: 50px;
	text-transform: capitalize;
	text-align: center;
}
.footer-middle .column .more:hover { background: #17192d; }
.footer-middle .column.links {
	width: 15%;
	margin: 0 2% 15px 0;
}
.footer-middle .column .title {
	display: block;
	font: 17px/21px 'galanogrotesque-buploadedfile', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 28px 0 24px;
}
.footer-middle .column a { color: #fff; }
.footer-middle .column a:hover { color: #aad038; }
.footer-middle .column ul li { margin: 0 0 6px; }
.footer-middle .column.contact {
	width: 20%;
	margin: 0 5% 15px 0;
}
.footer-middle .column .info {
	display: block;
	padding: 0 0 14px 26px;
	position: relative;
}
.footer-middle .column .info i {
	float: left;
	color: #aad038;
	font-size: 20px;
	position: absolute;
	left: 0;
	top: 3px;
}
.footer-middle .column.follow {
	width: 18%;
	margin: 0 0 15px;
}
.footer-middle .column .social-network li { margin: 0 0 7px; }
.footer-middle .column .social-network li a {
	display: block;
	padding: 0 0 10px 45px;
	position: relative;
}
.footer-middle .column .social-network li a i {
	border: 1px solid #aad038;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	font-size: 17px;
	line-height: 33px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: -5px;
}
.footer-middle .column .social-network li a { color: #aad038; }
.footer-middle .column .social-network li a:hover { color: #fff; }
.footer-middle .column .social-network li a:hover i { border-color: #fff; }
.footer-bottom {
	background: #151513;
	padding: 26px 0;
	color: #a1a1a1;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
}
.footer-bottom p { margin: 0; }
.footer-bottom a { color: #a1a1a1; }
.footer-bottom a:hover { color: #aad038; }
@media only screen and (max-width: 1500px) {
	.film_roll_shuttle .slide { margin: 0 50px; }
	.accordion .film_roll_shuttle { margin: 0 0 0 -150px !important; }
	.accordion .film_roll_prev { left: 9%; }
	.accordion .film_roll_next { right: 9%; }
	.product-block .img-products { max-width: 60%; }
	.product-block .holder { max-width: 600px; }
}
@media only screen and (max-width: 1279px) {
	.banner .caption-block h1 {
		font-size: 45px;
		line-height: 55px;
		margin: 0 0 15px;
	}
	.caption-block .caption ul { line-height: 38px; }
	.services-block, .about-block, .about-us-block { padding: 40px 0; }
	.services-block h2, .about-block h2, .about-us-block h2, .about-us-block .img-holder { margin: 0 0 30px; }
	.services-block ul li { padding: 25px; }
	.services-block .text-block {
		width: 68%;
		margin: 0 0 0 3%;
	}
	.about-block .tabset { max-width: 890px; }
	.film_roll_shuttle .slide {
		margin: 0 auto;
		padding: 0 20px;
	}
	.accordion .film_roll_shuttle { margin: 0 !important; }
	.accordion .film_roll_prev { left: 25px; }
	.accordion .film_roll_next { right: 25px; }
	.about-us-block .four-columns { margin: 0 0 30px -1.5%; }
	.about-us-block .four-columns .column {
		padding: 15px 15px 60px;
		line-height: 22px;
	}
	.four-columns .column .img-block {
		height: 150px;
		margin: 0 auto 15px;
		width: 150px;
	}
	.four-columns .column .info { margin: 0 0 10px; }
	.about-us-block .more { bottom: 15px; }
	.product-block { padding: 35px 0 0; }
	.product-block .holder h2 {
		font-size: 40px;
		line-height: 45px;
		margin: 0 0 25px;
	}
	.product-block .holder {
		max-width: 550px;
		padding: 0 0 60px;
	}
	.product-block ul li .text-block {
		font-size: 18px;
		line-height: 24px;
		width: 82%;
	}
	.product-block .holder ul li { margin: 0 0 20px; }
	.product-block ul li .img-block { margin: 0 10px 0 0; }
	.product-block .img-products { max-width: 55%; }
	.footer-top .label-block label { font-size: 23px; }
	.footer-top .label-block label i { margin: 0 10px 0 0; }
	.footer-top .form-block { width: 63%; }
	.footer-top .form-block .field { width: 73%; }
	.footer-middle { padding: 40px 0 20px}
	.footer-middle .column {
		font-size: 16px;
		line-height: 25px;
		margin: 0 3% 15px 0;
		width: 28%;
	}
	.footer-middle .column.links { width: 15%; }
	.footer-middle .column.contact {
		margin: 0 2% 15px 0;
		width: 25%;
	}
	.footer-middle .column.follow { width: 22%; }
	.about-holder { padding: 40px 0 200px; }
	.about-holder h2 { margin: 0 0 30px; }
	.about-holder img { margin: 0 auto 30px; }
	.about-holder .two-columns { padding: 0 20px; }
	.about-holder .two-columns .column { margin: 0 2% 15px; }
	.team-block .team .text-block {
		margin: 0 0 0 4%;
		width: 67%;
	}
	.team-block .text-block .heading-section { margin: 0 14px 25px 0; }
	.team-block .team .text-block p { margin: 0 0 20px; }
	.team-block .team { margin: 0 7px 30px; }
	.team-block h2 { margin: 0 0 50px; }
	.two-blocks .fields-holder .fields { width: 47.6%; }
	.two-blocks .block { margin: 0 0 20px 3%; }
	.contact-block .two-blocks { margin: 0 0 0 -3%; }
	.two-blocks .block h2 {
		font-size: 30px;
		line-height: 35px;
	}
	.grid-item { width: 24%; }
	.grid-item.grid-item-width2 { width: 48.9%; }
	.work-detail-block { padding: 50px 0; }
	.project-detail {
		padding: 20px 15px 31px 25px;
		margin: 0 20px 25px;
	}
	.project-detail .img-block {
		margin: 10px 3% 0 0;
		width: 48.5%;
	}
}
@media only screen and (max-width: 1023px) {
	.header-top .left-block .tel {
		padding: 0 18px 0 0;
		width: 200px;
	}
	#header .logo { width: 210px; }
	#nav ul li a { padding: 5px 15px 6px; }
	#nav { margin: 10px 0 0;}
	.header-bottom { padding: 10px 0; }
	.info-block { margin: 15px 0 0; }
	.banner .caption-block h1 {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 10px;
	}
	.caption-block .caption ul {
		font-size: 22px;
		line-height: 35px;
	}
	.services-block ul li {
		padding: 15px;
		width: 48.4%;
	}
	.caption-block .caption ul li::before { top: 7px; }
	.services-block ul li .img-block {
		display: block;
		height: 105px;
		margin: 0 auto 12px;
		width: 105px;
	}
	.services-block .text-block {
		display: block;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	.services-block .img-block .image img { max-width: 50%; }
	.services-block, .about-block, .about-us-block,.work-block { padding: 30px 0; }
	.about-block .tabset, .work-block .tabset {
		max-width: 730px;
		font-size: 15px;
		line-height: 20px;
	}
	.about-block .tabset li, .work-block .tabset li { padding: 0 0 13px 10px; }
	.film_roll_shuttle .slide { padding: 0 47px; }
	.accordion .film_roll_prev, .accordion .film_roll_next { top: 35%; }
	.accordion .film_roll_prev { left: 5px; }
	.accordion .film_roll_next { right: 5px; }
	.film_roll_shuttle .info-text .column {
		margin: 0 1% 10px;
		width: 22.5%;
	}
	.info-text .column .title { font-size: 16px; }
	.info-text .column .text {
		font-size: 14px;
		line-height: 20px;
	}
	.accordion .more { margin: 20px auto 0; }
	.about-us-block .four-columns .column { width: 31%; }
	.about-us-block .four-columns { margin: 0 0 20px -1.5%; }
	.product-block .img-products {
		margin: 0 auto;
		position: static;
		max-width: 65%;
	}
	.product-block .holder {
		max-width: inherit;
		padding: 0 0 30px;
	}
	.footer-top .label-block label i {
		font-size: 18px;
		height: 40px;
		line-height: 40px;
		margin: 0 5px 0 0;
		width: 40px;
	}
	.footer-top .label-block label { font-size: 20px; }
	.footer-top .label-block::after { border-width: 38px; }
	.footer-top .label-block { padding: 17px 7px 17px 100%; }
	.footer-top .form-block {
		padding: 17px 6px 14px 45px;
		width: 60%;
	}
	.footer-top .form-block .field {
		padding: 0 0 0 28px;
		width: 65%;
	}
	.footer-top .form-block .field::before { left: 10px; }
	.footer-top .form-block input[type="submit"] { width: 128px; }
	.footer-middle .column, .footer-middle .column.links, .footer-middle .column.contact, .footer-middle .column.follow {
		width: 45%;
		margin: 0 3% 15px 0;
	}
	.search-form .form-slide { top: 70px; }
	.about-holder img { max-width: 60%; }
	.about-holder .two-columns { padding: 0; }
	.about-holder .two-columns .column {
		font-size: 17px;
		line-height: 25px;
	}
	.team-block .top-img { margin: -180px auto 30px; }
	.team-block h2 { margin: 0 0 30px; }
	.team-block .team .img-block {
		height: 190px;
		width: 200px;
	}
	.team-block .team .text-block {
		margin: 0 0 0 3%;
		width: 68%;
	}
	.heading-section .left-col h3 {
		font-size: 30px;
		line-height: 35px;
		margin: 0 0 10px;
	}
	.heading-section .left-col .info { padding: 0 0 20px; }
	.team-block .heading-section .social { margin: 10px 0 0; }
	.team-block .text-block .heading-section, .team-block .team { margin: 0 0 20px; }
	.team-block .team .text-block p { margin: 0 0 15px; }
	.contact-block .two-blocks { margin: 0; }
	.two-blocks .block {
		display: block;
		width: 100%;
		margin: 0 0 20px;
	}
	.contact-block { padding: 35px 0 15px; }
	.work-block h2 {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 25px;
	}
	.masonry-caption .caption-text .content { max-width: 170px; }
	.masonry-caption .content img { max-width: 25px; }
	.masonry-caption .content .text {
		display: block;
		font-size: 15px;
		line-height: 20px;
		margin: 5px 0 0;
		width: 100%;
	}
	.work-detail-block { padding: 35px 0; }
	.work-detail-block h2 { margin: 0 0 25px; }
	.project-detail {
		margin: 0 0 25px;
		padding: 15px;
	}
	.project-detail .img-block { margin: 5px 3% 0 0; }
	.project-detail .text-block h3 { margin: 0 0 10px; }
	.project-detail .text-block p, .project-detail .text-block ul { margin: 0 0 15px; }
	.project-detail .two-cols .col { width: 45%; }
	.btn-back { margin: 30px auto 0; }
}
@media only screen and (max-width: 767px) {
	.header-top {
		font-size: 13px;
		line-height: 17px;
	}
	.header-top .left-block .tel i {
		font-size: 14px;
		padding: 0 3px 0 0;
	}
	.header-top .left-block .tel {
		margin: 0 10px 0 0;
		padding: 0 10px 0 0;
		width: 160px;
	}
	.header-top .social-networks {
		font-size: 14px;
		width: 100px;
	}
	.header-top .social-networks li { margin: 0 10px 0 0; }
	.header-top .consultation {
		height: 27px;
		line-height: 23px;
		padding: 0 16px;
	}
	#header .logo { width: 180px; }
	.search-form .form-slide { top: 60px; }
	.js-slide-hidden { position: absolute !important; }
	.opener {
		width: 65px;
		height: 45px;
		position: relative;
		display: block;
		right: 0;
		top: 0;
	}
	.opener:before, .opener:after, .opener span {
		background: #121b51;
		border-radius: 4px;
		position: absolute;
		top: 50%;
		left: 25%;
		right: 25%;
		height: 4px;
		margin-top: -2px;
		-moz-transition: all 0.25s linear;
		-webkit-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
	}
	.opener:before, .opener:after {
		content: '';
		top: 30%;
	}
	.opener:after { top: 70%; }
	.active .opener span { opacity: 0; }
	.opener:hover { opacity: .9; }
	.active .opener:after, .active .opener:before {
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		top: 50%;
		left: 15%;
		right: 15%;
	}
	.active .opener:after {
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	.open-close .drop {
		max-height: 0;
		-webkit-transition: all 0.25s linear;
		transition: all 0.25s linear;
		position: absolute;
		left: 0;
		top: 100%;
		border-top: 1px solid;
		overflow: hidden;
		width: 100%;
		z-index: 999;
		padding: 0;
	}
	.open-close .drop .slide {
		background: #121b51;
		overflow: hidden;
		-moz-transition: all 0.25s linear;
		-webkit-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
		padding: 10px;
		text-align: center;
	}
	.open-close .drop ul:after { display: none; }
	.open-close.active .drop { max-height: 4000px; }
	.open-close.active .drop .slide {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	.info-block { margin: 12px 0 0; }
	#nav {
		z-index: 999;
		margin: 0;
	}
	#nav ul {
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
		-moz-transition: all 0.25s linear;
		-webkit-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
		position: relative;
	}
	#nav ul li {
		display: block;
		float: none;
		padding: 0;
		margin: 0 0 10px;
	}
	#nav ul li a {
		display: block;
		padding: 10px;
		color: #fff;
	}
	#nav ul li a:hover, #nav ul li.active a, #nav ul li:hover a { color: #000; }
	.banner .caption-block h1 {
		font-size: 20px;
		line-height: 25px;
	}
	.caption-block .caption ul {
		font-size: 18px;
		line-height: 25px;
		margin: 0 auto 18px;
	}
	.caption-block .caption ul li::before {
		background-size: 100% auto;
		height: 15px;
		top: 5px;
		width: 15px;
	}
	.caption-block .caption ul li { padding: 0 0 0 24px; }
	.caption-block .caption a {
		font-size: 17px;
		line-height: 40px;
		height: 40px;
		padding: 0 30px;
	}
	.services-block, .about-block, .about-us-block { padding: 20px 0; }
	.services-block h2, .about-block h2, .about-us-block h2, .about-us-block .img-holder {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 20px;
	}
	.services-block ul li {
		margin: 0 0 10px 1.3%;
		width: 48.3%;
	}
	.services-block .text-block .title, .services-block .text-block {
		font-size: 15px;
		line-height: 20px;
	}
	.tab-content .accordion {
		padding: 0 15px;
		text-align: center;
	}
	.tab-content .accordion-opener {
		display: block !important;
		color: #fff;
		padding: 8px;
		border-radius: 50px;
	}
	.work-block .tab-content .accordion-opener { color: #000; }
	.accordion li { margin: 0 0 5px; }
	.accordion li.active .accordion-opener, .accordion li .accordion-opener:hover {
		color: #000;
		background: #aad038;
	}
	.tabset { display: none !important; }
	.js-slide-hidden { position: absolute !important; }
	.tab-content .accordion-slide { position: absolute !important; }
	.tab-content .accordion li.active .accordion-slide {
		display: block !important;
		position: static !important;
		padding: 0 0 15px;
		border: 1px solid #fff;
	}
	.film_roll_shuttle .slide { padding: 0 }
	.accordion .film_roll_prev, .accordion .film_roll_next {
		top: 30%;
		background: #191d4b;
		font-size: 23px;
	}
	.accordion .film_roll_prev:hover, .accordion .film_roll_next:hover {
		background: #aad038;
		opacity: 1;
		color: #191d4b;
	}
	.film_roll_shuttle .slide .info-text { margin: 15px 0 0; }
	.film_roll_shuttle .info-text .column {
		margin: 0 1% 15px;
		width: 43%;
	}
	.accordion .more {
		height: 40px;
		line-height: 40px;
		margin: 15px auto 0;
		width: 140px;
	}
	.about-us-block .img-holder img { max-width: 70%; }
	.four-columns .column .img-block {
		width: 150px;
		height: 150px;
	}
	.four-columns .column h3 {
		font-size: 17px;
		line-height: 20px;
	}
	.product-block .holder h2 {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 15px;
	}
	.product-block ul li .text-block {
		font-size: 15px;
		line-height: 20px;
	}
	.product-block .holder ul { margin: 0 0 30px; }
	.product-block .img-products { max-width: 80%; }
	.footer-top .label-block {
		padding: 15px 100%;
		margin: 0 -100%;
		text-align: center;
		float: none;
	}
	.footer-top .label-block::after { border-width: 0; }
	.footer-top .form-block {
		float: none;
		padding: 15px 0;
		width: 100%;
	}
	.footer-middle .column, .footer-middle .column.links, .footer-middle .column.contact, .footer-middle .column.follow {
		display: block;
		margin: 0 0 15px;
		text-align: center;
		width: 100%;
	}
	#footer .logo { margin: 0 auto 15px; }
	.footer-middle .column .info {
		margin: 0 auto;
		padding: 0 0 10px 30px;
		text-align: left;
		width: 250px;
	}
	.footer-middle .column .social-network {
		margin: 0 auto;
		text-align: left;
		width: 250px;
	}
	.footer-middle { padding: 30px 0 10px; }
	.footer-bottom { padding: 20px 0; }
	.banner.inner .caption-block h1 {
		font-size: 30px;
		line-height: 35px;
	}
	.banner .caption-block h1 img { max-width: 10%; }
	.about-holder { padding: 30px 0; }
	.about-holder h2 {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 20px;
	}
	.about-holder img {
		margin: 0 auto 20px;
		max-width: 80%;
	}
	.about-holder .two-columns .column {
		display: block;
		width: 100%;
		margin: 0 0 15px;
	}
	.team-block .top-img { margin: 0 auto 20px; }
	.team-block { padding: 40px 0; }
	.team-block h2 {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 20px;
	}
	.team-block .team .img-block {
		float: none;
		height: 165px;
		margin: 0 auto 20px;
		width: 170px;
	}
	.team-block .team .text-block {
		margin: 0;
		text-align: center;
		width: 100%;
	}
	.team-block .heading-section .left-col {
		float: none;
		width: 100%;
	}
	.heading-section .left-col .info::after {
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.team-block .heading-section .social {
		float: none;
		text-align: center;
		width: 100%;
		margin: 15px 0 0;
	}
	.heading-section .social li { margin: 0 6px 5px; }
	.heading-section .left-col .info { padding: 0 0 15px; }
	.contact-block { padding: 25px 0 15px; }
	.two-blocks .block h2 {
		font-size: 27px;
		line-height: 32px;
	}
	.two-blocks .block .info-text { margin: 0 0 20px; }
	.two-blocks .block .accordion li { padding: 0 0 10px; }
	.two-blocks .block .accordion li a {
		font-size: 15px;
		line-height: 20px;
		padding: 15px 45px 15px 15px;
	}
	.two-blocks .block .accordion-slide1 {
		font-size: 15px;
		line-height: 20px;
		padding: 14px 15px;
	}
	.map-holder iframe { height: auto; }
	.grid-item, .grid-item.grid-item-width2 {
		display: block;
		float: none;
		left: 0 !important;
		position: relative !important;
		top: 0 !important;
		width: 100%;
	}
	.work-block .grid-item img { width: 100%; }
	.work-block .tab-content .accordion li.active .accordion-slide {
		border-color: #000;
		padding: 15px 15px 0;
	}
	.masonry-caption .content img { max-width: 40px; }
	.masonry-caption .content .text {
		font-size: 20px;
		line-height: 25px;
		margin: 10px 0 0;
	}
	.work-block .grid { height: auto !important; }
	.work-detail-block { padding: 30px 0; }
	.work-detail-block h2 {
		font-size: 23px;
		line-height: 27px;
		margin: 0 0 20px;
	}
	.project-detail .img-block {
		float: none;
		margin: 0 0 15px;
		width: 100%;
	}
	.project-detail .img-block img { margin: 0 auto; }
	.project-detail .text-block {
		float: none;
		font-size: 15px;
		width: 100%;
	}
	.about-us-block .four-columns .column { width: 48%; }
}
@media only screen and (max-width: 479px) {
	.header-top .left-block {
		float: none;
		margin: 0 0 10px;
		overflow: hidden;
		text-align: center;
		width: 100%;
	}
	.header-top .left-block .tel, .header-top .social-networks {
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
	.header-top .consultation {
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0 10px;
		width: 150px;
		text-align: center;
	}
	#header .logo { width: 140px; }
	.search-form a {
		font-size: 15px;
		height: 35px;
		line-height: 35px;
		width: 35px;
	}
	.info-block { margin: 5px 0 0; }
	.search-form .form-slide { top: 50px; }
	.banner::before { background: none; }
	.banner img { opacity: 1; }
	.banner .caption-holder {
		position: relative;
		background: #121b51;
		padding: 15px 0;
	}
	.caption-block .caption ul {
		font-size: 15px;
		line-height: 23px;
		margin: 0 auto 15px;
	}
	.caption-block .caption ul li { padding: 0 0 5px 24px; }
	.caption-block .caption a:hover {
		background: #aad038;
		color: #121b51;
	}
	.services-block h2, .about-block h2, .about-us-block h2, .about-us-block .img-holder {
		font-size: 30px;
		line-height: 35px;
		margin: 0 0 15px;
	}
	.services-block ul { margin: 0; }
	.services-block ul li, .about-us-block .four-columns .column {
		display: block;
		height: auto !important;
		margin: 0 0 15px;
		width: 100%;
	}
	.accordion .film_roll_prev, .accordion .film_roll_next {
		font-size: 18px;
		height: 30px;
		line-height: 27px;
		top: 25%;
		width: 30px;
	}
	.about-us-block .img-holder img, .product-block .img-products { max-width: 90%; }
	.about-us-block .four-columns { margin: 0 0 20px; }
	.product-block .holder h2 {
		font-size: 25px;
		line-height: 30px;
	}
	.product-block ul li .img-block {
		margin: 0 8px 0 0;
		width: 50px;
	}
	.product-block ul li .text-block { width: 76%; }
	.product-block .holder .link {
		font-size: 15px;
		line-height: 45px;
		height: 45px;
		padding: 0 25px;
	}
	.footer-top .form-block .field {
		display: block;
		margin: 0 0 15px;
		width: 100%;
	}
	.footer-top .form-block input[type="submit"] {
		float: none;
		margin: 0 auto;
	}
	#footer .logo { width: 190px; }
	.footer-middle .column .title { margin: 10px 0 15px; }
	.banner.inner .caption-block h1 {
		font-size: 25px;
		line-height: 30px;
	}
	.banner.inner::before { background: #000; }
	.banner.inner .caption-holder {
		background: none;
		padding: 0;
		position: absolute;
	}
	.banner.inner img { opacity: 0.55; }
	.about-holder { padding: 20px 0; }
	.about-holder h2, .team-block h2 {
		font-size: 30px;
		line-height: 35px;
		margin: 0 0 15px;
	}
	.about-holder img {
		margin: 0 auto 15px;
		max-width: 95%;
	}
	.about-holder .two-columns .column {
		font-size: 15px;
		line-height: 22px;
	}
	.team-block { padding: 30px 0; }
	.heading-section .left-col h3 { font-size: 27px; }
	.team-block .text-block .heading-section, .team-block .team { margin: 0 0 15px; }
	.two-blocks .block h2 {
		font-size: 19px;
		line-height: 25px;
	}
	.two-blocks .block .info-text {
		font-size: 15px;
		line-height: 20px;
		margin: 0 0 15px;
	}
	.two-blocks .block form .fields-holder { margin: 0; }
	.two-blocks .fields-holder .fields {
		display: block;
		width: 100%;
		margin: 0;
	}
	.project-detail .two-cols .col .title {
		font-size: 18px;
		line-height: 22px;
	}
	.project-detail .two-cols .col .text {
		font-size: 14px;
		line-height: 20px;
	}
	.btn-back { width: 220px; }
	.work-detail-block { padding: 20px 0; }
}